
body{
  background: url("./dev4.png") center bottom repeat-y;
color: #5649c0; 
font-size: 20px;
text-align: center;
}
	#navbarSupportedContent {
	flex-grow: 0;
	font-size: 25px;
}

.navbar-nav {
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.navbar-nav > li > a {
	color: #fff !important;
	font-size: 17px;
	font-weight: 400 !important;
	font-family: "Rubik", sans-serif;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	padding: 40px 22px !important;
	border-bottom: 1px solid transparent;
	position: relative;
}

.navbar-nav > li > a i {
	font-size: 13px;
	margin-left: 10px;
}

.navbar-nav > li.active > a:before {
	content: '';
	position: absolute;
	bottom: 30px;
	left: 0;
	width: 100%;
	height: 1px;
	background: #5649c0;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.navbar-nav > li:hover > a {
	opacity: 0.7;
}

.navbar-nav > li.active:hover > a:before {
	bottom: -2px;
}

.navbar-nav li.drop-link {
	position: relative;
}

.navbar-collapse {
	position: relative;
}

  .h1{
    color: #5649c0;
}

section.about-section {
    padding-top: 20px;
    text-align: center;
    }
    section.about-section textarea {
      margin: 10px   0; }


        .Description{
            box-shadow: 0 10px 45px rgba(0, 0, 0, 0.18);
            -webkit-box-shadow: 0 10px 45px rgba(0, 0, 0, 0.18);
            -moz-box-shadow: 0 10px 45px rgba(0, 0, 0, 0.18);
            -o-box-shadow: 0 10px 45px rgba(0, 0, 0, 0.18);
            border: none; 
            border-radius: 10px;
            padding-left: 10px;
            
        }
        label{
            font-size: 20px;
            color: #5649c0;
           
        }

        .button{
          cursor: pointer;
          background-color:  #5649c0;;
          font-size: 20px;
           color: white;
          width: 6.5%;
          border: none; 
          width: 40%;
          height:40px;
          border-radius: 7px;
        }

        input{
          box-shadow: 0 10px 45px rgba(0, 0, 0, 0.18);
          -webkit-box-shadow: 0 10px 45px rgba(0, 0, 0, 0.18);
          -moz-box-shadow: 0 10px 45px rgba(0, 0, 0, 0.18);
          -o-box-shadow: 0 10px 45px rgba(0, 0, 0, 0.18);
          border: none; 
          width: 40%;
          height: 40px;
          border-radius: 7px;
          padding-left: 10px;
          
        }
        .how{
          width: 30px;
          margin-left: -40px;
        }
        p{
          color:  #fff;
        }
        .span{
          color: #000;
          background-color:#fff; 
        }
        .div{
          background-color: rgb(173, 169, 169);
          width: 40%;
          border-radius: 5px;
          font-size: large;
          margin:10px  auto ;
          padding: 7px ;
          display: none;
       
        }
        label {
          font-size: 20px;
          color: #5649c0;
        
        }
         
        