body {
	background: url("./dev4.png") center bottom repeat-y;
	height: auto;

}

#navbarSupportedContent {
	flex-grow: 0;
	font-size: 25px;
}

.navbar-nav {
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.navbar-nav > li > a {
	color: #fff !important;
	font-size: 17px;
	font-weight: 400 !important;
	font-family: "Rubik", sans-serif;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	padding: 40px 22px !important;
	border-bottom: 1px solid transparent;
	position: relative;
}

.navbar-nav > li > a i {
	font-size: 13px;
	margin-left: 10px;
}

.navbar-nav > li.active > a:before {
	content: '';
	position: absolute;
	bottom: 30px;
	left: 0;
	width: 100%;
	height: 1px;
	background: #5649c0;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.navbar-nav > li:hover > a {
	opacity: 0.7;
}

.navbar-nav > li.active:hover > a:before {
	bottom: -2px;
}

.navbar-nav li.drop-link {
	position: relative;
}

.navbar-collapse {
	position: relative;
}

.row {
	padding-top: 50px;
	margin: 0 auto;
	position: relative;
	height: auto;
	

}
.schedule-post {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	margin: 10px;
	width: 300px;
	margin-left: 50px;
	height:auto;
	margin: 0 auto;
	position: relative;
}

h6 {
	width: auto;
	text-align: center;

}
#datetime{
	width: 50%;
	height: 50px;
	border-radius: 10px;
	border: none;
	outline: none;
	width: 50%;
	background-color: #d2c6df;
	margin-top: 5%;
	margin-left: 25%;
	text-align: center;
}
#title{
	width: 50%;
	height: 50px;
	border-radius: 10px;
	border: none;
	outline: none;
	width: 50%;
	background-color: #d2c6df;
	margin-top: 25px;
	margin-left: 25%;
	text-align: center;
	margin-bottom: 20%;
	
}
#dayId{
	width: 50%;
	height: 50px;
	border-radius: 10px;
	border: none;
	outline: none;
	width: 50%;
	background-color: #d2c6df;
	margin-top: 25px;
	margin-left: 25%;
	text-align: center;
	margin-bottom: 20%;
	

}
#season {
	width: 50%;
	height: 50px;
	border-radius: 10px;
	border: none;
	outline: none;
	width: 50%;
	background-color: #d2c6df;
	margin-left: 25%;
	text-align: center;
	margin-bottom: 20%;
	
}

#save {

	background-image: url(../images/add.svg);
	background-repeat: no-repeat;
	background-position: center;
	width: 40px;
	height: 40px;
	border-radius: 10px;
	border: none;
	outline: none;
	background-color: #5649c0;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}
h2 {
	width: auto;
	text-align: center;
	color: #8e75a6;
}

h5 {
	text-align: center;
	margin-left: -20px;

}
.break{
	width: 50px;
	height: 50px;
	border: none;
	position: absolute;
	margin-left: 35%;
	align-items: center;
}

#imgBreak{
	width:100px; 
	height: 100px;
	margin-left: 33%;
	border: 1px solid black;
	margin-bottom: 10px;
}