section.schedule-section {
  /* padding-top: 50px; */
  margin: auto;
  text-align: center;
}

#create2 {
  margin-top: 60px;
  color: rgb(102, 102, 102);
  text-align: center;
  margin-left: 50px;
  border: 2px solid lightgrey;
  border-radius:10px ;
  background-color: rgb(255, 255, 255);
  padding-left: 5px;
  width: 25%;
  border-radius: 10px;
  padding-top: 70px;
  text-align: center;
  padding-bottom: 70px;
  height: auto;
 
}
.col-lg-5{
  width: 25%;
  margin: auto;

}
.row{
  float:left;
  
}

.add {
	
	display: inline-block;
	position: relative;
	border: none;
	margin:auto;
  outline: none;
  font-size: 55px;
  color: rgb(102, 102, 102);
  cursor: pointer;
  top: 5px;

}

img {
 
 width: 100%;
 border-radius: 9px 9px 0 0;
}

*, :after, :before {
  box-sizing: border-box;
}
*, ::after, ::before {
  box-sizing: border-box;
}

.speakers-box{
  margin-left:  70px;
  margin-right: 70px;
   
}
.speaker-post{
  border: 2px solid lightgrey;
  border-radius:10px ;
  margin: 10px;
  
}
.speaker-content{
  background-color: rgb(255, 255, 255);
  padding-left: 5px;
  border-radius: 10px;
  
}

h2{
  color: rgb(102, 102, 102); ;
}

button{
  margin: auto;
  cursor: pointer;
  background-color:  #5649c0;;
  font-size: 20px;
   color: white;
  width: 98%;
  border: none; 


  
}
span{
  padding: 5px;
  
}