
body{
	background: url("../images/dev4.png") center bottom repeat-y;
  
  }
  #navbarSupportedContent {
	  flex-grow: 0;
	  font-size: 25px;
  }
  
  .navbar-nav {
	  transition: all 0.2s ease-in-out;
	  -moz-transition: all 0.2s ease-in-out;
	  -webkit-transition: all 0.2s ease-in-out;
	  -o-transition: all 0.2s ease-in-out;
  }
  
  .navbar-nav > li > a {
	  color: #fff !important;
	  font-size: 17px;
	  font-weight: 400 !important;
	  font-family: "Rubik", sans-serif;
	  transition: all 0.2s ease-in-out;
	  -moz-transition: all 0.2s ease-in-out;
	  -webkit-transition: all 0.2s ease-in-out;
	  -o-transition: all 0.2s ease-in-out;
	  padding: 40px 22px !important;
	  border-bottom: 1px solid transparent;
	  position: relative;
  }
  
  .navbar-nav > li > a i {
	  font-size: 13px;
	  margin-left: 10px;
  }
  
  .navbar-nav > li.active > a:before {
	  content: '';
	  position: absolute;
	  bottom: 30px;
	  left: 0;
	  width: 100%;
	  height: 1px;
	  background: #5649c0;
	  transition: all 0.2s ease-in-out;
	  -moz-transition: all 0.2s ease-in-out;
	  -webkit-transition: all 0.2s ease-in-out;
	  -o-transition: all 0.2s ease-in-out;
  }
  
  .navbar-nav > li:hover > a {
	  opacity: 0.7;
  }
  
  .navbar-nav > li.active:hover > a:before {
	  bottom: -2px;
  }
  
  .navbar-nav li.drop-link {
	  position: relative;
  }
  
  .navbar-collapse {
	  position: relative;
  }
  section.speaking-section {
	padding-top: 50px;
	margin: auto;
	text-align: center;
   
  }
  .h1{
	   color: #5649c0;
  }
  
  .imgc {
	  border : none;
	  width: 100%;
	  margin : 87px  0 ;
	 
  }
	
	img {
		  border-radius: 5px 5px 0 0;
		  width: 100%;
	  }
	  .imgform{
		  border-radius: 50%;
		  width: 85%;
	margin-bottom:  25px;
	  }
		.button{
		  cursor: pointer;
		  background-color:  #5649c0;;
		  font-size: 20px;
		  color: white;
		width: 100%;
		  border: none; 
		  border-radius: 5px;
		  margin-bottom: 20px;
		}
   
		input{
		  box-shadow: 0 10px 45px rgba(0, 0, 0, 0.18);
		  -webkit-box-shadow: 0 10px 45px rgba(0, 0, 0, 0.18);
		  -moz-box-shadow: 0 10px 45px rgba(0, 0, 0, 0.18);
		  -o-box-shadow: 0 10px 45px rgba(0, 0, 0, 0.18);
		  border: none; 
		  width: 100%;
		  
  
		}
	   
	   
		
		/* On mouse-over, add a deeper shadow */
		.card:hover {
		  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
		}
		
		/* Add some padding inside the card container */
		.container {
		  padding: 2px 16px;
		   
		}
	   
		.card {
		  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		  transition: 0.3s;
		  border-radius: 5px; /* 5px rounded corners */
		  float: left;
		  margin: 25px ;
		  width: 20%;
	  
		
		}
		.maincard {
		  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		  transition: 0.3s;
		  border-radius: 5px; /* 5px rounded corners */
		  float: left;
		  margin: 25px;
		  width: 20%;
		}
		/* Add rounded corners to the top left and the top right corner of the image */
	  
	  .fileInput{
		  display: none;
	  }
	  .form{
		  display: block;
		  margin: auto;
		  width: 28%;
		  padding-bottom: 20px;
	  }
	  
	  textarea{
		  margin: 5%;
	  }
	  
  
		