body{
    background: url("./dev4.png") center bottom repeat-y;
    font-size: 20px;
    color: #5649c0;
}
input{
    box-shadow: 0 10px 45px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0 10px 45px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 10px 45px rgba(0, 0, 0, 0.18);
    -o-box-shadow: 0 10px 45px rgba(0, 0, 0, 0.18);
    border: none;
    margin: 0 0 20px ;
}
.img {
    border-radius: 50%;
    width: 22%;
    margin-bottom: 30px;
    position: absolute;
    top: 190px;
    right: 280px ;
    border: #5649c0  4px solid ;
}
 .h1{
       color: #5649c0;
 }
section.section {
    padding-top: 50px;
    margin: auto;
}
        label{
            font-size: 20px;
            color: #5649c0; 
        }
        button{
          cursor: pointer;
          background-color:  #5649c0;
          font-size: 20px;
           color: white;
          width: 200px;
          border: none; 
        }
        .schedule-block{
            margin-left: 50px ;
        }
        