body {
	background: url("../images/dev4.png") center bottom repeat-y;
	height: auto;

}

#navbarSupportedContent {
	flex-grow: 0;
	font-size: 25px;
}

.navbar-nav {
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.navbar-nav > li > a {
	color: #fff !important;
	font-size: 17px;
	font-weight: 400 !important;
	font-family: "Rubik", sans-serif;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	padding: 40px 22px !important;
	border-bottom: 1px solid transparent;
	position: relative;
}

.navbar-nav > li > a i {
	font-size: 13px;
	margin-left: 10px;
}

.navbar-nav > li.active > a:before {
	content: '';
	position: absolute;
	bottom: 30px;
	left: 0;
	width: 100%;
	height: 1px;
	background: #5649c0;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.navbar-nav > li:hover > a {
	opacity: 0.7;
}

.navbar-nav > li.active:hover > a:before {
	bottom: -2px;
}

.navbar-nav li.drop-link {
	position: relative;
}

.navbar-collapse {
	position: relative;
}

.post {

	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    float: left;
	margin: 25px  30px;
	padding: 20px;
	width: 20%;
	height: auto;
	display: block;
	
	
}
#edit {
	width: 30px;
	height: 25px;
	left: auto;
	float: right;
	border: none;
	outline: none;
	border: none;
	background-image: url(../images/add.svg);
	background-repeat: no-repeat;
	background-position: center;
	opacity: 1;
	z-index: 0;
	margin-right: 10px;
}
.schadd{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    float: left;
	margin: 30px  30px;
	padding: 10px;
	width: 20%;
	 height: 224px; 
	 text-align: center; 
}
.countainer{
	margin:20px  0 20px 25px ;
	padding: 2px 16px;
     
} 
.deleteEvent{
	float: right;
	display: flex;
	width: 30px;
	height: 25px;
	left: 15px;
	outline: none;
	border: none;
	background-image: url(../images/delete.svg);
	background-repeat: no-repeat;
	background-position: center;
	opacity: 1;
	z-index: 0;
	margin-right: 10px;
	border-radius: 5px;
}
#break {
	border-radius: 5px;
	margin-left: 12px;
}
h3 {
	width: auto;
	text-align: center;
	color: #5649c0;
}
h5 {
	text-align: center;
	color: green;
}
.h6 {
	width: auto;
	text-align: left ;
	margin-left: 20px;
	color: gray;
} 
h2{
	color:#5649c0 ;
}
.add {
	width: 100%;
	height: 70px;
	border-radius: 7px;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #5649c0;
	bottom: 0; 
	margin :10% 0 0 0 ;
	left: 0;
	color: white;
	font-size: 32px;
}

#create {
	margin-top: 40px;
}





