.fa {
  padding: 20px;
  font-size: 30px;
  width: 98%;
  padding-bottom:  25%;
  padding-top:30%;
  text-align: center;
  text-decoration: none;
  margin:auto;
  margin-top: 2%;
  border-radius: 4% ;
  margin-bottom: 6%;
  font-size: 80px;

}
.fa :hover{
    color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}


