
body{
    background: url("./dev4.png") center bottom repeat-y;
  
}
 .h1{
       color: #5649c0;
 }
section.section {
    padding-top: 50px;
    margin: auto;
    text-align: center;
   
}
    
    
        label{
            font-size: 20px;
            color: #5649c0;
           
        }

        button{
          cursor: pointer;
          background-color:  #5649c0;;
          font-size: 20px;
           color: white;
          width: 30%;
          border: none; 

        }

        input{
          box-shadow: 0 10px 45px rgba(0, 0, 0, 0.18);
          -webkit-box-shadow: 0 10px 45px rgba(0, 0, 0, 0.18);
          -moz-box-shadow: 0 10px 45px rgba(0, 0, 0, 0.18);
          -o-box-shadow: 0 10px 45px rgba(0, 0, 0, 0.18);
          border: none;
          width: 30%; 
       
          
        }
        .schedule-block{
            margin-left: 50px ;
        }
        