.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
     
  }
  input{
      margin: 5%;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    float: left;
    margin: 25px ;
    width: 20%;
  
  }
  .maincard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    float: left;
    margin: 25px;
    width: 20%;
  }
  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 5px 5px 0 0;
    width: 100%;
 
}
.imgform{
    border-radius: 50%;
}
#fileInput{
    display: none;
}
.form{
    display: block;
    margin: auto;
    width: 30%;
}
button {
    cursor: pointer;
    background-color: #5649c0;
    font-size: 20px;
    color: white;
    width: 6.5%;
    border: none;
    width: 100%;
    margin: 5%;
}
textarea{
    margin: 5%;
}